

#logo-mabe{
max-width: 60px;
}

#usuario-mabe{
	float:right;
	
}

#footer {
    background: #007b5e;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px; 
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

.error-message{
    color: red;
}   

#login-form{
    margin-top: 100px;
}

@media (min-width: 992px){ 
    #login-form{
        width: 30%
    }
 }

.login-button{
    width: 100%
}

