

#logo-mabe{
max-width: 60px;
}

#usuario-mabe{
	float:right;
	
}

#sticky-footer {
  flex-shrink: none;
}

.error-message{
    color: red;
}   

#login-form{
    margin-top: 100px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 992px){ 
    #login-form{
        width: 30%
    }
 }

.login-button{
    width: 100%
}

#upload-form{
    margin-top: 100px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#imgupload{
    padding: 10px 0px 10px 0px;
    background: rgba(0,0,0,0.5);
    color: #00bdff;
    width: 100%;
  text-align:center;
 font-size:1.3em; 
}

#imgupload a{
    padding: 10px;
    border:none;
    color: white;
    color: #00bdff;
    text-decoration: none;
    
}

.portada{
    background: url(http://desarrollofrontend.com/wp-content/uploads/2014/11/img_default.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;

}
.text{
margin: 30px 0px 30px 0px;  
padding: 10px;
background: rgba(0,0,0,0.5);
display: inline-block;
}
