{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


{% endblock %}

{% block body %}

    {% block navbar %}
        {% include 'navbar.html' %}
        <div id="usuario-mabe"><span class="label label-primary">{{ current_user.name }}</span></div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    
        

    {% block scripts %}
    {{ super() }}
    {% endblock %}

    
{% endblock %}

