<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Excelente equipo de profesionales</h5>
					
							<p style="line-height: 1.8;">Estamos siempre dispuestos a atenderte y escucharte, para lograr comprender y resolver tus inquietudes e inconvenientes.</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Trayectoria y experiencia</h5>
					<p style="line-height: 1.8;">Trabajamos brindando servicios de facturación para distintas empresas, brindando servicios confiables, estables, seguros y atención profesional personalizada.</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>¿Porqué elegirnos?</h5>
					<p style="line-height: 1.8;">Nuestro principal objetivo es la satisfacción del cliente, lo cual significa que le atenderemos de manera personalizada;  velocidad y precisión en nuestras respuestas. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">&copy Todos los Derechos reservados por X S.A. de R.L de C.V.</p>
				</div>
				
			</div>	
		</div>
	</footer>
	<!-- ./Footer -->