<footer id="footer" class="dark">

		 
			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix" style="padding:0">

					<div class="col_half">
						Copyright &copy; 2019 Todos los Derechos reservados por X S. de R.L de C.V.<br>
						 <a href="#">Aviso de Privacidad</a>
					</div>

					<div class="col_half col_last tright">
				 
						<div class="clear"></div><i class="icon-home"></i>
AV  (de la empresa), Colonia... , Municipio ..., C.P. ... Ciudad de México <span class="middot">&middot;</span>
						<i class="icon-envelope2"></i> <a href="xxx@hotmail.net.mx">xxx@hotmail.com.mx </a> <span class="middot">&middot;</span> <i class="icon-phone"></i>(55) XX XX XX XX  
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->