{% extends "base_template.html" %}

{% block title %}Registro de usuarios{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="container" id="singup-form">
            <div class="card">
                <div class="card-body">
    
                    {% if error %}
                        <p style="color: red;"><strong>Error:</strong> {{error}}
                    {% endif %}
    
                    <div class="title-form">
                        <h2>Registre una cuenta</h2>
                    </div>
    
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        
                        <div class="form-group">
                            {{ form.numero_proveedor(class_='form-control', placeholder='número de proveedor') }}
                            {% for error in form.numero_proveedor.errors %}
                            <small class="error-message">{{'Campo requerido'}}</small>
                            {% endfor %}
                        </div>
    
                        <div class="form-group">
                            {{ form.name(class_='form-control', placeholder='nombre') }}
                            {% for error in form.name.errors %}
                            <small class="error-message">{{ 'Campo requerido' }}</small>
                            {% endfor %}
                        </div>
    
                        <div class="form-group">
                            {{ form.email(class_='form-control', placeholder='email') }}
                            {% for error in form.email.errors %}
                            <small class="error-message">{{ 'Campo requerido' }}</small>
                            {% endfor %}
                        </div>
    
                        <div class="form-group">
                            {{ form.password(class_='form-control', placeholder='password') }}
                            {% for error in form.password.errors %}
                            <small class="error-message">{{ 'Campo requerido' }}</small>
                            {% endfor %}
                        </div>
    
                        <div>
                            {{ form.submit(class_="btn btn-primary login-button") }}
                        </div>
    
                    </form>
    
                </div> <!-- .card-body -->
            </div> <!-- .card -->
        </div> <!-- .container -->
    </div>
    
    
{% endblock %}