{% extends "base_template.html" %}

{% block title %}Generar Addenda{% endblock %}
{% block content %}

<div class="portada">
		<div id="imgupload">
	    </div>
		
		<div class="text">
			<div class="card">
	            <div class="card-body">
	                
	                    <div class="form-group">Seleccione los archivos para cargar</div>
	                    <div class="form-group">
	                    <p>
							{% with messages = get_flashed_messages() %}
							  {% if messages %}
								<ul class=flashes>
								{% for message in messages %}
								  <li>{{ message }}</li>
								{% endfor %}
								</ul>
							  {% endif %}
							{% endwith %}
						</p>
	                	</div>
	                <form method="post" action="/carga" enctype="multipart/form-data">
						    <dl>
								<p>
									<input type="file" name="files[]" multiple="true" autocomplete="off" required>
								</p>
						    </dl>
						    <p>
								<input type="submit" value="Generar">
							</p>
						
					</form>	
				</div>
			</div>

		</div>
</div>

{% endblock %}


